.container {
	margin-top: 80px;
}

.btn-add {
	width: 100%;
	padding: 5px 20px;
	display: flex;
	justify-content: space-between;
}

.btn-add button {
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: #f1f1f1;
	font-weight: bold;
	padding: 10px;
}

.btn-red {
	background-color: #e84a5f;
}

.btn-green {
	background-color: #3ca59d;
}

.container-form {
	background-color: rgba(0, 0, 0, .7);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.container-form .alert {
	text-align: center;
	color: #fff;
	padding: 5px;
}

.container-form .warning {
	background-color: rgb(244, 67, 54);
}

.container-form .success {
	background-color: mediumseagreen;
}

.container-form div {
	text-align: right;
}

.container-form p {
	display: inline;
	font-size: 1.5rem;
	cursor: pointer;
}

.container-form form {
	background-color: #f1f1f1;
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.container-form form input,
.container-form form button {
	margin-top: 10px;
	padding: 8px;
	border: 1px solid #ddd;
}

.container-form form button {
	cursor: pointer;
	background-color: steelblue;
	color: #fff;
	font-weight: bold;
}
